<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace를 통해 DataDAO와 연결 -->
<mapper namespace="com.sharp.ing.domain.DataDAO">
	<!-- -->
	<insert id="insertShoppinglist" parameterType="com.sharp.ing.domain.Shopping_listDTO">
		<![CDATA[
		INSERT INTO shopping_list VALUES
		(#{list_id}, #{user_id}, #{purchase_date})]]>
	</insert>
	<insert id="insertItem" parameterType="com.sharp.ing.domain.ItemDTO">
		<![CDATA[
		INSERT INTO item VALUES
		(#{mart_code}, #{price}, #{amount}, #{code01}, #{code02}, #{code03},
		#{code04}, #{qt}, #{qt_code}, #{list_id}, #{item_no})]]>
	</insert>

	<!-- <delete id="deleteData" parameterType="DataDTO">
		
	</delete>
	
	<select id="selectData" parameterType="DataDTO"
		resultType="string">
	</select> -->
	
</mapper>