<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace를 통해 DataDAO와 연결 -->
<mapper namespace="domain">
	<!-- -->
	<insert id="insertShoppinglist" parameterType="Shopping_listDTO">
		INSERT INTO
		shopping_list VALUES
		(#{list_id}, #{user_id}, #{purchase_date})
	</insert>
	<insert id="insertItem" parameterType="ItemDTO">
		INSERT INTO item VALUES
		(#{mart_code}, #{price}, #{amount}, #{code01}, #{code02}, #{code03},
		#{code04}, #{qt}, #{qt_code}, #{list_id}, #{item_no})
	</insert>

	<delete id="deleteData" parameterType="DataDTO">
		
	</delete>
	
	<select id="selectData" parameterType="DataDTO"
		resultType="string">
	</select>
	
</mapper>